src/main/mule/splunk-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bf132529-9b42-4fc3-bdef-4b130da61495" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="splunk-demoFlow" doc:id="13f6bf26-e743-40fd-840b-804b7851943b" >
		<http:listener doc:name="Listener" doc:id="abc931e5-5594-4c61-876e-f84a2676e05b" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["this is splunk demo"]' doc:name="Set Payload" doc:id="4b7aa30f-81e5-4d47-80c7-a32b2587e072" />
		<logger level="INFO" doc:name="Logger" doc:id="1a375c9a-a2fe-4546-a18c-93e53e5361c0" message="#[payload]"/>
	</flow>
</mule>
